<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="#" id="sidebarCollapse">
                <img class="left-arrow padrao" src="../../../assets/img/left-arrow.svg">
                <img class="right-arrow mini" src="../../../assets/img/right-arrow.svg" hidden>
            </a>
        </div>

        <div class="usuario">
            <a href="#profile">
                <img class="foto" src="../../../assets/img/joker.jpeg">
            </a><br>

            <a class="nome padrao" href="#profile">Joker</a>
            <a class="nome mini" href="#profile" hidden>Perfil</a>
        </div>

        <hr>

        <div class="list-unstyled components">
            <a class="link active" href="#dashboard">
                <p><img class="side-img" src="../../../assets/img/analytics.svg" title="Dashboard"> <span class="side-txt padrao">Dashboard</span></p>
            </a>
            <a class="link" href="#funil">
                <p><img class="side-img" src="../../../assets/img/filter.svg" title="Funil de Vendas"> <span class="side-txt padrao">Funil de Vendas</span></p>
            </a>
            <a class="link" href="#leads">
                <p><img class="side-img" src="../../../assets/img/id-card.svg" title="Leads"> <span class="side-txt padrao">Leads</span></p>
            </a>
            <a class="link" href="#equipe">
                <p><img class="side-img" src="../../../assets/img/team.svg" title="Gestão de Equipe"> <span class="side-txt padrao">Gestão de Equipe</span></p>
            </a>
            <a class="link" href="#config">
                <p><img class="side-img" src="../../../assets/img/gear.svg" title="Configuração"> <span class="side-txt padrao">Configuração</span></p>
            </a>

        </div>

        <div class="novo-lead padrao">
            <a href="#novo-lead" title="Adicionar Novo Lead">Novo Lead</a>
        </div>
        <div class="novo-lead-plus mini" hidden>
            <a href="#novo-lead" title="Adicionar Novo Lead">+</a>
        </div>

    </nav>

    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>
                </div> -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>