.wrapper {
    display: flex;
    align-items: initial;
    background-color: rgba(211, 211, 211, 0.486);
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
    }
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    #sidebar {
        min-width: 220px;
        max-width: 220px;
        background: rgb(255, 255, 255);
        color: rgb(73, 71, 71);
        transition-duration: all 0.4s;
        #sidebarCollapse {
            margin-left: 196px;
            .left-arrow,
            .right-arrow {
                max-width: 18px;
                margin-top: 5px;
            }
        }
        .usuario {
            // margin-left: 50px;
            text-align: center;
            .foto {
                padding: 5px;
                transition-duration: 125ms;
                border-radius: 50%;
                height: 125px;
                width: 125px;
                margin: 5px;
            }
        }
        hr {
            max-width: 180px
        }
        .list-unstyled {
            transition-duration: 125ms;
            margin: 25px 0 25px 25px;
            .side-txt {
                padding-left: 10px;
                font-size: 13px;
            }
            .side-txt.active {
                font-weight: 900;
                color: black;
            }
            .side-img {
                max-width: 25px;
            }
            .side-img:hover {
                color: #6d7fcc;
            }
        }
    }
    .novo-lead,
    .novo-lead-plus {
        transition-duration: 125ms;
        background-color: #1ea52c;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 20vh;
        padding: 11px 5px 11px 5px;
        color: white;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
    }
    .novo-lead-plus {
        font-size: 30px;
        border: 10px solid white;
        padding: unset;
    }
    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }
}